body{
    margin: 0;
    border: 10px solid #192b36;
}

img{
<<<<<<< HEAD
    max-width: 100%;
    vertical-align: top;
=======
	max-width: 100%;
	vertical-align: top;
    /*display: none;*/
}

img#responsive{
        display: none;
}

@media screen and (max-width: 768px){
    img#responsive{
        display: block;
    }
>>>>>>> responsive
}